.flex-container {
  white-space: nowrap;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-right {
  animation-name: slideRight;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes slideRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(1000px);
  }
}

.slide-left {
  animation-name: slideLeft;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-1000px);
  }
}
